<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Freelance Time Manager
			{% endblock %}
		</title>
		<link href="https://bootswatch.com/4/slate/bootstrap.min.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
		{% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"/>
		{% endblock %}
	</head>

	<body>
		<header>

			{{ include('home/nav.html.twig') }}
			<h1 class="text-warning text-center my-4 py-3">Freelance Time Manager</h1>
		</header>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			<footer>
				<div class="d-flex row justify-content-around bg-primary">
					<p class='text-warning'>Made with
						<i class="fas fa-heart text-danger"></i>
						by Olivia Coffineau - &copy;2024</p>
					{# <a class='text-warning' href="">Contact</a> #}
				</div>

			</footer>
			{% block javascripts %}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
				<script>
					$(document).ready(function () {
                        $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd', autoclose: true, todayHighlight: true, setDate: new Date() // Affiche la date du jour par défaut
                        }).on('show', function (e) { // Assurez-vous que le date picker s'affiche correctement lors du clic
                        $(this).datepicker('update', new Date());
                        });
                    });
				</script>
			{% endblock %}
			{% include './home/cookies.html.twig' %}
		</body>

	</html>
