<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body style="background-color: black;">
    <div class="error" style="">
        <h1>404 - Oupsi oupsi, page non trouvée</h1>
        <div style="margin: 50px auto; font-size: 24px; ">
        <p>Gamin ! Gamin !... Allez viens !... C'est pour rire Gamin !...</p>
        <p>Tu vas pas rester tout seul dans ce bois ?</p>
        </div>
        
        <a href="{{ path('app_home') }}" style="color: #c5d3e2; font-size: 20px; text-decoration: none;">Reviens sur le site</a>
    </div>
</body>
</html>